@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&family=Source+Sans+Pro:wght@600&display=swap');
@import "../../global.scss";

// *{
//  
// }
.Footer{
    display: flex;
    justify-content: space-between;  
width: 100%;
height: 300px;
background: #F8F8F8;
font-family: 'Source Sans Pro', sans-serif;

                                           
@include mobile{
    position: absolute;
    left: 10px;
    top: 3270px;
    display: flex;
    height: 700px;
    width: 100%;
    flex-direction: column;
 } 

}

.foot-img{
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile{
        position: absolute;
        left: 130px;
      display: none;
        
     } 
    


}

 .address{
    position: absolute;
width: 217px;
height: 69px;
left: 400px;
font-weight: 100;

font-size: 13.6559px;
line-height: 23px;
color: #646874;

@include mobile{
    position: absolute;
    left: 10px;
  top: 30px;
    
 }
}


.foot-email{
    position: absolute;
 align-items: center;
width: 232px;
height: 23px;
left: 400px;
top: 2190px;
font-weight: 100;
font-size: 11;
line-height: 23px;
/* identical to box height, or 157% */
color: #646874;


@include mobile{
    position: absolute;
    left: 10px;
  top: 100px;
    
 }
}

.more-links li{
    margin-top: 1.8rem;
    margin-left: -2rem;
    color: #646874;
    font-weight: 100;
    
    
   

}


.footNumber{
    position: absolute;
    width: 120px;
    height: 23px;
    left: 400px;
    top: 2230px;
    color: #646874;

    @include mobile{
        position: absolute;
        left: 10px;
        top: 140px;
        
    
        
     }




}
.foot-more{
    @include mobile{
        position: absolute;
        left: 10px;
        top: 170px;  
     }
    
}


.foot-links{
    color: #0E2368;

    @include mobile{
        position: absolute;
        left: 10px;
        top: 450px;   
     }
    
}

.link{
    display: flex;
    justify-content: space-between;

    @include mobile{
        position: absolute;
        top: 20px;
        margin-left: 5rem;
          }
   
}

.link img{
 margin-right: 50px;



}

.foot-copy{
    margin-top: 140px;
    color: #828B9C;
    @include mobile{
       margin-left: 4rem;
       margin-top: 3.5rem;
       }
   
      
}

.foot-links h4{
    @include mobile{
      display: none;
     }
    


}